/* ====================== General */

body {
  background-color: #f5f5f5;
}

body.error-404 {
  background-color: #1da1f2;
}

.form-control {
  margin-bottom: 20px;
}

.btn {
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-auto-flow: column;
}

.recipe-pic {
  width: 250px;
}

.recipes-container {
  width: min-content;
  float: left;
  width: calc(100% - 455px);
}

.recipes-container h3 {
  width: 250px;
}

.filter-column {
  float: left;
  width: 250px;
}

#homepage-container {
  display: flex;
}

.sign-up-user {
  float: left;
}

.log-in-out {
  float: right;
}

.thumbnail {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.nav-right-user {
 width: 175px; 
 margin-top: 1rem;
}

.nav-right {
  width: 125px; 
  margin-top: 1rem;
 }



 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* ======================= Nav */

.navbar {
  background-color: #fff;
  height: 46px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  position: relative;
  z-index: 9999;
}

.navbar a {
  color: #66757f;
  font-size: 15px;
  font-weight: bold;
}

.navbar a:hover {
  color: #1c94e0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  width: 20px;
  border-radius: 2px;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

nav form.navbar-form {
  display: flex;
  position: relative;
}

#search.form-control {
  border-radius: 20px;
  margin-bottom: 0;
  width: 100%;
  padding-right: 280px;
  box-sizing: border-box;
}

#search.form-control + .btn {
  right: 30px;
  position: relative;
  z-index: 1;
  padding: 0;
  color: #66757f;
}

#search-bar {
  display: flex;
}

#search.form-control + .btn:active,
#search.form-control + .btn:focus {
  box-shadow: none;
}

#search:active,
#search:focus {
  box-shadow: none;
  border: 2px solid #007bff;
}

nav{
  margin-bottom: 1rem;
}