<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Recipe Aggregator</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <!-- <script src="https://unpkg.com/popper"></script> -->
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="/static/images/nav-logo.png" alt="logo">
        <span>Recipe Aggregator</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-center">
      <li>
        <form id="search-bar" class="navbar-form navbar-center" action="/search-results">
          <input name="q" class="form-control" placeholder="Search Recipes" id="search">
          <button type="submit" class="btn btn-default">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}


<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/app.js"></script>

</body>
</html>