
{% extends 'base.html' %}
{% block content %}
  
  <div class="recipes-container">
       
    <div id="search-recipes">
        {% if no_results %}
            <h1>{{no_results}}</h1>
        {% else %}
            {% for result in all_results %}
                <div id={{result.title}}>
                    <img class="recipe-pic" src="{{result.image}}"/>
                    <div>
                        <a href="{{result.sourceUrl}}"> <h3>{{result.title}}</h3></a>
                        {% if g.user %}
                            {% if result.id in likes %}
                                <a class="heart" id="{{result.id}}"><i class="fas fa-heart fa-2x "></i></a>
                            {% else %}
                                <a class="heart" id="{{result.id}}"><i class="far fa-heart fa-2x "></i></a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <a class="nutrition {{result.id}}" onclick='seeNutrition(this)'>See Nutrition</a>
                    <p>{{result.summary|safe}}</p>
                </div>   
            {% endfor %}
        {% endif %}
    </div>

    <!-- Nutrition Modal -->
    <div id="nutritionModalSearch" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="nutritionInfoHere"></div>
        </div>
      </div>

{% endblock %}
