{% extends 'base.html' %}

{% block searching %}
{% endblock %}

{% block filter %}
{% endblock %}

{% block content %}
  <img src="{{ user.image_url }}" alt="Image for {{ user.username }}" id="profile-avatar">

  <h4 id="sidebar-username">{{ user.username }}</h4>

  {% if g.user.id == user.id %}
    <a href="/users/profile" class="btn btn-outline-secondary">Edit Profile</a>
    <form method="POST" action="/users/delete" class="form-inline">
      <button class="btn btn-outline-danger">Delete Profile</button>
    </form>

    <h1>Recipes Liked By This User</h1>
    {% for recipe in liked_recipes %}
      <div>
        <img class="recipe-pic" src="{{recipe.image}}"/>
        <div>
          <a href="{{recipe.spoonacularSourceUrl}}"> <h3>{{recipe.title}}</h3></a>
        </div>
        <p>Cook Time: {{recipe.readyInMinutes}} minutes</p>
      </div>
    {% endfor %}

  {% endif %}
{% endblock %}
